<footer class="footer mt-5 h-auto text-base text-third-text-color relative border-t-2 border-t-border-color">
    <div class="info-container text-center" style="padding: 16px 0;">
        <div style="line-height:1.2; margin-top: 8px;">
            &copy; <%= date(new Date(), 'YYYY' ) %> <a href="https://blog.acg.rest">xiaorona</a> | All rights reserved.<br>Powered by <a href="https://github.com/xiaorona">xiaorona</a> | Theme:<a href="https://github.com/tomcomtang/anime-blog-demo1" target="_blank">Anime</a><br>CDN:<a href="https://edgeone.ai/zh" target="_blank">Tencent EdgeOne</a>
        </div>
    </div>
</footer>