<footer class="footer mt-5 h-auto text-base text-third-text-color relative border-t-2 border-t-border-color">
    <div class="info-container text-center" style="padding: 16px 0;">
        <div style="line-height:1.2; margin-top: 8px;">
            &copy; <%= date(new Date(), 'YYYY' ) %> <a href="https://blog.acg.rest">xiaorona</a> | All rights reserved.<br>Powered by <a href="https://github.com/xiaorona">xiaorona</a> | <a href="https://icp.gov.moe/?keyword=20252255" target="_blank">萌ICP备20252255号</a><br><a href="https://edgeone.ai/zh" target="_blank">使用腾讯云EdgeOne提供的Pages服务</a>
        </div>
    </div>
</footer>